.header {
    padding: 25px 0;
    border-bottom: 1px solid #E5E5E5;;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
}

.logo img {
    vertical-align: bottom;
}

.menu {
    margin-left: 244px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu_item {
    margin-right: 70px;
    cursor: pointer;
    color: #ffffff;
}

.menu_item a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

.menu_item a:hover {
    border-bottom: 2px solid #ffffff;
}

.btn_nav {
    border: none;
    display: inline-block;
    cursor: pointer;
}

.login {
    color: #ea0000;
}